.menu-items {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.menu-items__tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0 2rem;

    .menu-items__tabs-item {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        color: var(--black-color); 
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover {
            background-color:var(--primary-color);
            color: var(--text-color);
        }
        @media screen and (min-width: 2000px) {
            padding: 1rem 2rem;
        }
    }
}

.menu-items__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(221, 221, 221, 0.80);
    transition: all 0.3s ease;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(221, 221, 221, 0.80);
    }

    h3 {
        margin: 5px 0;
    }

    p {
        margin: 5px 0;
    }
}