.menu-items {
    flex: 1;
    width: 100%;
    flex-direction: column;

    h2 {
        text-align: center;
    }
}

.menu-items__tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0 2rem;

    .menu-items__tabs-item {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        color: var(--black-color); 
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover {
            background-color:var(--primary-color);
            color: var(--text-color);
        }

        @media screen and (min-width: 2000px) {
            padding: 1rem 2rem;
        }
    }

    .active {
        background-color: var(--primary-color);
        color: var(--text-color);
    }
}

.menu-items__cards {
    display: grid;
    gap: 1rem;
    justify-items: center;
    
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: 601px) and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 901px) and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1201px) {
      grid-template-columns: repeat(4, 1fr);
    }
}


.card {
    box-shadow: 0 4px 8px 0 rgba(221, 221, 221, 0.80);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.8rem;
    max-width: 300px;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(221, 221, 221, 0.80);
    }

    img {
        margin: 0 auto;
        border-radius: 15px;
    }

    h3 {
        margin: 5px 0;
    }

    p {
        margin: 5px 0;
        min-width: 290px;
    }
}